<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja Wyborcy</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<html>
<head>
    <title>PODANY TOKEN STRACIŁ WAŻNOŚĆ</title>
</head>
<body>

<h1>BŁĄD</h1>
<p>PODANY TOKEN STRACIŁ WAŻNOŚĆ.</p>

<a th:href="@{/votes/voters}" class="btn btn-primary btn-sm">POWRÓT DO LISTY WYBORCÓW</a>

</body>
</html>